<article class="bb b--black-10">
  <div class="db pv4 ph3 ph0-l no-underline dark-gray">
    <div class="flex flex-column flex-row-ns">
      
      {{/* 1. BILD-BEREICH (wird nur geladen, wenn ein Bild existiert) */}}
      {{ if .Params.featured_image }}
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-l">
          <a href="{{ .RelPermalink }}" class="db grow">
            <img src="{{ .Params.featured_image | relURL }}" class="img" alt="image from {{ .Title }}">
          </a>
        </div>
      {{ end }}
      
      {{/* 2. TEXT-BEREICH (Nimmt 100% Breite, wenn kein Bild da ist) */}}
      <div class="w-100 {{ if .Params.featured_image }}w-60-l{{ end }}">
        <h1 class="f3 fw1 athelas mt0 lh-title">
          <a href="{{ .RelPermalink }}" class="color-inherit dim link" style="color: #000 !important; opacity: 1 !important;">
            {{ .Title }}
          </a>
        </h1>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links" style="color: #1a1a1a !important; opacity: 1 !important;">
          {{ .Summary }}
        </div>
        <a href="{{ .RelPermalink }}" class="ba b--moon-gray bg-light-gray br2 dib pa2 mt3 link">weiterlesen</a>
      </div>

    </div>
  </div>
</article>