<a href="#" 
   data-user="{{ "keekerino" | base64Encode }}" 
   data-domain="{{ "googlemail.com" | base64Encode }}" 
   onclick="this.href='mailto:' + atob(this.dataset.user) + '@' + atob(this.dataset.domain)" 
   class="link blue hover-dark-blue fw6 flex items-center shadow-hover pa2 br2 ba b--light-gray bg-near-white d-inline-flex"
   style="text-decoration: none; display: inline-flex; width: fit-content;">
   
   <span class="f4 mr2">&#x1F4E8</span> 
   <span>Kontaktieren Sie mich per Mail</span>
</a>