<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<div class="wip-banner-simple">
    
    <lottie-player src="/lottie/bagger.json" background="transparent" speed="1" style="width: 70px; height: 70px;" loop autoplay></lottie-player>
    
    <div class="wip-text-content">
        <span class="wip-title">Achtung, Baustelle!</span>
        <span class="wip-desc">Diese Seite befindet sich noch im Aufbau und wird stetig verbessert.</span>
    </div>
    
    <lottie-player src="/lottie/bagger.json" background="transparent" speed="1" style="width: 70px; height: 70px;" loop autoplay></lottie-player>

</div>